<!DOCTYPE html>
<html>
<head>
  <title>Canvas App</title>
  <script src="/canvas-all.js"></script>
  <script>
      
    // Optionally wait for Canvas to be ready
    Sfdc.canvas.onReady(() => {
      console.log("Canvas SDK Ready");
      const client = <%- JSON.stringify(context.client) %>;
      console.log("CLIENT: ", client);

      Sfdc.canvas.client.publish(client, {
        name: 'customEventFromCanvas',
        payload: {
          message: 'Hello from Canvas!',
          time: new Date().toISOString()
        },
        targetOrigin: "*"
      });
    });

    //Subscribe to the parent window onscroll event.
    Sfdc.canvas(function() {
      const client = <%- JSON.stringify(context.client) %>;
      // Capture the onScrolling event of the parent window
      Sfdc.canvas.client.subscribe(client,
          {name : 'canvas.scroll', onData : function (event) {
              console.log("Parent's contentHeight; " + event.heights.contentHeight);
              console.log("Parent's pageHeight; " + event.heights.pageHeight);
              console.log("Parent's scrollTop; " + event.heights.scrollTop);
              console.log("Parent's contentWidth; " + event.widths.contentWidth);
              console.log("Parent's pageWidth; " + event.widths.pageWidth);
              console.log("Parent's scrollLeft; " + event.widths.scrollLeft);
          }}
      );
    });

    Sfdc.canvas(function() {
      const client = <%- JSON.stringify(context.client) %>;
      Sfdc.canvas.client.publish(client, {
        name : "customEventFromCanvas", 
        payload : {status : 'Completed'},
        targetOrigin: "*"
      });
    });

    function sendCanvasEvent(){
      console.log("Canvas SDK Ready");
      const client = <%- JSON.stringify(context.client) %>;
      console.log("CLIENT: ", client);

      Sfdc.canvas.client.publish(client, {
        name: 'customEventFromCanvas',
        payload: {
          message: 'Hello from Canvas!',
          time: new Date().toISOString()
        },
          targetOrigin: "*"
      });
    }

    Sfdc.canvas.onReady(function() {
      document.getElementById("sendEvent").addEventListener("click", () => {
        console.log("Canvas SDK Ready");
        const client = <%- JSON.stringify(context.client) %>;
        console.log("CLIENT: ", client);
        Sfdc.canvas.client.publish(client, {
          name: "customEventFromCanvas",
          payload: {
            message: "Hello Aura!",
            time: new Date().toISOString()
          },
          targetOrigin: "*"
        });
      });
    });
  </script>
</head>
<body>
  <h1>Salesforce Canvas App</h1>
  <p id="canvasStatus">Canvas SDK loaded</p>
  <button id="sendEvent">Send Event to Aura</button>
  <button id="sendEventBtn" onclick="sendCanvasEvent()">Send Event to Salesforce</button>
  <!-- <hr>
  <p><strong>Status from Aura:</strong></p>
  <p id="auraMsg">Waiting for message from Aura...</p> -->
</body>
</html>
